.header {
    padding: 80px;
    text-align: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    
  }
.GoogleTranslate{
    position:absolute;
    top:0;
    right:0;
}
.nav-links{
    flex:1;
    position:absolute;
    right: 0px;
    top:30px;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.top{
    background-color: #bdd8f7;
}

body{
    background-image: url("background.jpg");
    background-size: cover;
}