body
{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #def4dd;
  background-size: cover;
  background-position: center;

}

.sign-up-form
{
  width: 300px;
  box-shadow: 0 0 3px 0 rgb(0, 0, 0, 0.3);
  background: #fff;
  padding: 20px;
  margin: 8% auto 0;
  text-align: center;
}

.sign-up-form h1
{
 color: #1c8adb;
 margin-bottom: 30px;

}

.input-box
{
  border-radius: 20px;
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  border: 1px solid #999;
  outline: none;
}

.captcha-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;

}

#captcha {
  border-radius: 20px;
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  border: 1px solid #999;
  outline: none;
}


a
{
  text-decoration: none;
}

hr{
  margin-top: 20px;
  width: 80%;
}

.or{
  background: #fff;
  width: -30px;
  margin-bottom: auto;
}

img{
  width: 70px;
  margin-top: 0px;
}
label {
  color: #1c8adb;
}

input {
  border-radius: 2px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 1.25em;
  font-family: 'Aleo';
  width: 500px;
  padding: 8px;
}


button {
  width: 100%;
  color: #fff;
  border-radius: 200px;
  font-size: 15px;
  border-radius: 20px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
}


.register {
  background-color: #1c8adb;
}

.cancel{
  background-color: #21afde;
}

button:hover {
  border: 2px solid #fff;
}
