*{
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', sans-serif;
}

.banner{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../varrrg.jpg) no-repeat center center fixed;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 120px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content:'';
    height: 3px;
    width: 0;
    background: #BAD2FF;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}



.LanguageToggle{
    position:absolute;
    top:0;
    right:11%;
}


.log-in-form{
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -40%);
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 0 10px 0 rgb(0, 0, 0);
    background: rgba(245, 245, 220, 0.226);
    padding: 10px;
    text-align: center;
}

.log-in-form h1{
    color: #BAD2FF;
    font-size: 60px;
    padding-right: 20%;
    margin-top: 5%;
}


.input-box
{
  border-radius: 20px;
  padding: 10px;
  margin: 10px 0;
  width: 80%;
  border: 2px solid #BAD2FF ;
  background: transparent;
  color: #fff ;
  outline: none;
}


input {
    border-radius: 2px;
    box-sizing: border-box;
    font-size: 1.25em;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    width: 500px;
    padding: 8px;
    overflow: hidden;
    cursor: pointer;

  }


img {
    width: 80px;
    margin-top: 2px;
    padding-left: 3%;
}

.signup_link{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #B0D8FF;
    text-decoration: none;
    margin-top: auto;
}


.signup_link a:hover{
    text-decoration: none;
}

.signup_link a{
    color: #fff;
}

button {
    font-family: 'Open Sans Condensed', sans-serif;
    width: 80%;
    padding: 15px 0;
    text-align: center;
    margin: 10px 0px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #BAD2FF ;
    background: transparent;
    color: #fff ;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    }

span{
    font-family: 'Open Sans', sans-serif;
    background: #CEC5FF ;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width: 100%;
}

button:hover{
    border: none;
}




hr{
    border : 0;
    height: 1px; 
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #BAD2FF, rgba(0, 0, 0, 0)); 
    margin-top: 20px;

  }
  
.or{
    background: transparent;
    width: -50px;
    text-align: center;
    margin-bottom: auto;
    color: #fff;
}

footer {
    position: absolute;
    right: 75%;
    bottom: 3%;
    left: 0;
    text-align: center;
}