*{
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', sans-serif;
    color: #fff;
}

.banner{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background: linear-gradient(rgba(146, 146, 146, 0.548), rgba(146, 146, 146, 0.548)), url(../varrrg.jpg) no-repeat center center fixed;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 120px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content:'';
    height: 3px;
    width: 0;
    background: #BAD2FF;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.GoogleTranslate{
    position:absolute;
    top:0;
    right:0;
}

p{
    font-family: 'Open Sans', sans-serif;
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    font-size: 10px;
    text-align: center;

}

.upload {
    text-align: center;
    padding-top: 5%;
    
}

.upload h1 {
    font-size:60px;
    
}


button:hover span{
    width: 100%;
}

button:hover{
    border: 40%;
}

input:hover span{
    width: 100%;
}

input:hover{
    border: none;
}

/*upload button */
input{
    font-family: 'Open Sans', sans-serif;
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #CEC5FF ;
    background: transparent;
    color: #fff ;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

input[type="file"] {
    display: none;
}

.file-upload {
    font-family: 'Open Sans', sans-serif;
    border: 2px solid #CEC5FF;
    width: 100px;
    text-align: center;
    display: inline;
    padding: 12px 90px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    text-align: center;
    font-size: 10px;
    font-weight: 700;
    color: #BAD2FF;
}


