*{
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', sans-serif;
}

.banner{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background: linear-gradient(rgba(146, 146, 146, 0.548), rgba(146, 146, 146, 0.548)), url(../varrrg.jpg) no-repeat center center fixed;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 120px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content:'';
    height: 3px;
    width: 0;
    background: #BAD2FF;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.GoogleTranslate{
    position:absolute;
    top:0;
    right:0;
}



.sign-up-form{
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -40%);
    border-radius: 10px;
    width: 600px;
    box-shadow: 0 0 3px 0 rgb(0, 0, 0, 0.3);
    background: #fff;
    padding: 10px;
    text-align: center;
}


.sign-up-form h1
{
 color: #CEC5FF;
 margin-top: auto;
 font-size: 40px;
 padding-bottom: 2%;

}


form .input-box{
    
    border-bottom: 2px solid #adadaa;

}


.input-box
{
  border-radius: 20px;
  padding: 10px;
  margin: 10px 0;
  width: 45%;
  border: 1px solid #999;
  outline: none;
  display: inline block;
}


input {
    border-radius: 2px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 1.25em;
    font-family: 'Open Sans Condensed', sans-serif;
    width: 500px;
    padding: 8px;
  }


.captcha-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50%;
}
  
.captcha-image label{
    text-align: center;
    padding-top: 0%;
}

#captcha {
  border-radius: 20px;
  padding: 10px;
  margin: 10px 0;
  width: 50%;
  border: 1px solid #999;
  outline: none;
}


a
{
  text-decoration: none;
}

hr{
    border : 0;
    height: 1px; 
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); 
    margin-top: 20px;

  }
  

.or{
  background: #fff;
  width: -30px;
  margin-bottom: auto;
}


label {
  color: #BAD2FF;
  text-align: center;
}

input {
  border-radius: 2px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 1.25em;
  font-family: 'Open Sans Condensed', sans-serif;
  width: 500px;
  padding: 8px;
}

button {
  width: 55%;
  color: #fff;
  border-radius: 200px;
  font-size: 15px;
  border-radius: 20px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  font-family: 'Open Sans Condensed', sans-serif;
  display: inline-block;
}


.register {
  background-color: #E2B8FF;
  border-bottom: 2px solid #adadaa;
  display: inline-block;
}

.cancel{
  background-color: #BAD2FF;
  border-bottom: 2px solid #adadaa;
  display: inline-block;
}

button:hover {
  border: 2px solid #fff;
}

footer {
  position: absolute;
  right: 75%;
  bottom: 0;
  left: 0;
  text-align: center;
}
