body
{
  margin: 0;
  padding: 0;
  font-family: 'Bebas Neue', sans-serif;
  background-color: #CEC5FF;
  background-size: cover;
  background-position: center;
  height: 2px;
}

.sign-up-form
{
  width: 300px;
  box-shadow: 0 0 3px 0 rgb(0, 0, 0, 0.3);
  background: #fff;
  padding: 20px;
  text-align: center;
  margin: auto;
}

.sign-up-form h1
{
 color: #CEC5FF;
 margin-bottom: 30px;

}

.input-box
{
  border-radius: 20px;
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  border: 1px solid #999;
  outline: none;
}

.captcha-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;

}

#captcha {
  border-radius: 20px;
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  border: 1px solid #999;
  outline: none;
}


a
{
  text-decoration: none;
}

hr{
  margin-top: 20px;
  width: 80%;
}

.or{
  background: #fff;
  width: -30px;
  margin-bottom: auto;
}

img{
  width: 70px;
  margin-top: 0px;
}
label {
  color: #BAD2FF;
}

input {
  border-radius: 2px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 1.25em;
  font-family: 'Open Sans Condensed', sans-serif;
  width: 500px;
  padding: 8px;
}

button {
  width: 100%;
  color: #fff;
  border-radius: 200px;
  font-size: 15px;
  border-radius: 20px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  font-family: 'Open Sans Condensed', sans-serif;
}


.register {
  background-color: #E2B8FF;
  border-bottom: 2px solid #adadaa;
}

.cancel{
  background-color: #BAD2FF;
  border-bottom: 2px solid #adadaa;
}

button:hover {
  border: 2px solid #fff;
}

footer {
  position: absolute;
  right: 75%;
  bottom: 0;
  left: 0;
  text-align: center;
}

.LanguageToggle{
  position:absolute;
  top:0;
  right: 90%;
}