*{
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', sans-serif;
    color: black;
}

.banner{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../varrrg.jpg) no-repeat center center fixed;
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 120px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content:'';
    height: 3px;
    width: 0;
    background: #BAD2FF;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.user-profile{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    border-radius: 10px;
    width: 600px;
    box-shadow: 0 0 10px 0 rgb(0, 0, 0);
    background: rgba(245, 245, 220, 0.226);
    padding: 10px;
    text-align: center;
}

.user-profile h1{
    color: #BAD2FF;
    font-size: 70px;
    text-align: center;
}

.user-profile h2{
    font-size: 20px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}



.input-box
{
  border-radius: 20px;
  padding: 10px;
  margin: 15px 0;
  width: 30%;
  border: 2px solid  #def4dd ;
  background: transparent;
  color: #fff ;
  outline: none;
  display: inline-block;
}


input {
    border-radius: 2px;
    box-sizing: border-box;
    font-size: 1.25em;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    width: 500px;
    padding: 8px;
    overflow: hidden;
    cursor: pointer;

  }


    

.form-errors{
    color: red;
}



input:hover span{
    width: 100%;
}

input:hover{
    border: none;
}

#submit{
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    margin: 15px 5;
    text-align: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    width: 30%;
    border: 2px solid  #def4dd ;
    background: transparent;
    color: #BAD2FF;
    outline: none;
    display: inline-block;
}

#submit1{
    font-family: 'Open Sans', sans-serif;
    width: 200px;
    padding: 15px 0;
    margin: 15px 0;
    margin-left: 2%;
    text-align: center;
    border: 2px solid  #def4dd ;
    background: transparent;
    color:  #BAD2FF ;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    
}


hr{
    border : 0;
    height: 1px; 
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #BAD2FF, rgba(0, 0, 0, 0)); 
    margin-top: 5px;
    margin-bottom: 5px;

  }

span{
    font-family: 'Open Sans', sans-serif;
    background: #CEC5FF ;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
