*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.header {
    padding: 50px;
    text-align: center;
    width:100%;
    background: linear-gradient(120deg,  #def4dd, #B0D8FF, #BAD2FF, #CEC5FF, #E2B8FF );
  }
.GoogleTranslate{
    position:absolute;
    top:0;
    right:0;
}
.nav-links{
    flex:1;
    position:absolute;
    right: 0px;
    top: 50px;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    font-size: 20px;
}

.contact{
    text-align: justify;
    width:100%;
    height: 600px;
    font-size: 20px;
    background: linear-gradient(120deg,  #def4dd, #B0D8FF, #BAD2FF, #CEC5FF, #E2B8FF );
    background-size: cover;
}

#B1{
    padding: 1%;
    font-size: 80px;
    text-align: left;
    font-family: 'Bebas Neue', sans-serif;
}

.info{
    background: linear-gradient(120deg,  #def4dd, #B0D8FF, #BAD2FF, #CEC5FF, #E2B8FF );
    background-size: cover;
}

.r0{
    float: left;
    font-family: 'Lora', sans-serif;
}

.r1{
    float: left;
    left: 50px;
    font-family: 'Lora', sans-serif;
}

.form{
    padding: 1%;
}

.maps{
    padding: 1%;
    background: linear-gradient(120deg,  #def4dd, #B0D8FF, #BAD2FF, #CEC5FF, #E2B8FF );
}

.buton{
    padding: 1%;
}

footer{
    background: linear-gradient(120deg,  #def4dd, #B0D8FF, #BAD2FF, #CEC5FF, #E2B8FF );
}