*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.header {
    padding: 50px;
    text-align: center;
    width:100%;
    background: linear-gradient(90deg, rgb(44, 107, 223) 0%, rgb(50, 50, 170) 35%, rgb(17, 184, 218) 100%);
  }
.GoogleTranslate{
    position:absolute;
    top:0;
    right:0;
}
.nav-links{
    flex:1;
    position:absolute;
    right: 0px;
    top: 50px;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    font-size: 20px;
}

.contact{
    text-align: justify;
    width:100%;
    height: 500px;
    font-size: 20px;
    background: linear-gradient(to bottom, rgba(55, 115, 226, 0.5), rgba(56, 132, 247, 0.5));
    background-size: cover;
}

#B1{
    padding: 1%;
    font-size: 80px;
    text-align: left;
}

.info{
    background-color: #1fb1eb;
    background-size: cover;
}

.r0{
    float: left;
}

.r1{
    float: left;
    left: 50px;
}

.form{
    padding: 1%;
}

.maps{
    padding: 1%;
}

.buton{
    padding: 1%;
}

footer{
    background: linear-gradient(to bottom, rgba(55, 115, 226, 0.5), rgba(56, 132, 247, 0.5));
}