*{
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', sans-serif;
    color: #fff;
}

.banner{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../varrrg.jpg) no-repeat center center fixed;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 120px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content:'';
    height: 3px;
    width: 0;
    background: #BAD2FF;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.GoogleTranslate{
    position:absolute;
    top:0;
    right:0;
}

h1{
    color: #CEC5FF ;
}

.search{
    padding-left: 2%;
    font-size: 20px;
}

#searchInput{
    width: 20%;
    padding: 8px;
    border:2px #BAD2FF solid;
}

th{
    color: #CEC5FF;
}


button{
    font-family: 'Open Sans', sans-serif;
    width: 100px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    font-weight: bold;
    border: 2px solid #CEC5FF ;
    background: transparent;
    color: #fff ;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span{
    font-family: 'Open Sans', sans-serif;
    background: #CEC5FF ;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width: 100%;
}

button:hover{
    border: none;
}

input{
    font-family: 'Open Sans', sans-serif;
    width: 150px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    font-weight: bold;
    border: 2px solid #CEC5FF ;
    background: transparent;
    color: #fff ;
    cursor: pointer;
    position: relative;
    overflow: hidden;

}

input:hover span{
    width: 100%;
}

input:hover{
    border: none;
}
