*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

body{
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../varrrg.jpg) center;
  background-attachment: fixed;
}

h1{
  color: #fff;
}

.banner{
    width: 100%;
    height: auto;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.05));
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 120px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content:'';
    height: 3px;
    width: 0;
    background: #BAD2FF;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

button{
    font-family: 'Open Sans', sans-serif;
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #CEC5FF ;
    background: transparent;
    color: #fff ;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span{
    font-family: 'Open Sans', sans-serif;
    background: #CEC5FF ;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width: 100%;
}

button:hover{
    border: none;
}

.GoogleTranslate{
    position:absolute;
    top:0;
    right:0;
}

.content{
    text-align: center;
}

.content h1{
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 70px;
}

#userTable{
    font-family: 'Open Sans', sans-serif;
    margin-left: auto;
    margin-right: auto;
}

.content-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(180, 180, 180, 0.158);
}

.content-table thead tr{
    font-family: 'Open Sans', sans-serif;
    background-color: #E2B8FF;
    color: #fff;
    text-align: center;
    font-weight: bold;
}

.content-table th, 
.content-table td{
    padding: 12px 15px;
}

.content-table tbody tr{
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
    font-weight: bold;
    color: #969696;
}

.content-table tbody tr:last-of-type {
    border-bottom: 5px solid #E2B8FF;
}

.content-table tbody tr:nth-of-type(odd){
    background-color: #969696;
    color: #fff;
}

button{
    font-family: 'Open Sans', sans-serif;
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 3px solid #E2B8FF ;
    background: transparent;
    color: white ;
    cursor: pointer;
    position: center;
    overflow: hidden;
}

span{
    font-family: 'Open Sans', sans-serif;
    background: #CEC5FF ;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover{
  font-family: 'Open Sans', sans-serif;
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 4px solid transparent;
  background: transparent;
  color: white ;
  cursor: pointer;
  position: center;
  overflow: hidden;
}

.within{
    text-align: center;
    padding-top: 0%;
}